@import 'tailwindcss';

@font-face {
	font-family: 'OpenInto Mono';
	src: url('/OpenintoMonoTest-400Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenInto Mono';
	src: url('/OpenintoMonoTest-400RegularItalic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@theme {
	--text-sm: 1.4rem;
	--text-base: 1.67rem;

	--color-black: #000000;
	--color-white: #ffffff;
	--color-blue: #0000ff;
	--color-green: #00bb44;
	--color-green-alt: #ADFF87;
	--color-yellow: #fffb00;
	--color-yellow-alt: #f6ff7b;
	--color-red: #ff0000;
	--color-grey-1: #F4F4F4;
	--color-grey-2: #E6E6E6;
	--color-pink: #ffaaaa;
	--color-orange: #ff9b5d;

	--color-grid-bg: rgba(64, 255, 0, 0.1);
	/* --color-grid-bg: rgba(85, 85, 85, 0.08); */
	/* --color-grid-bg: rgba(255, 41, 45, 0.1); */
	--color-grid-bg-alt: rgba(94, 66, 197, 0.3);

	--spacing-base: 1.5rem;

  --font-primary: 'OpenInto Mono', monospace;
}

html {
	font-size: 10px;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
}

body {
	font-size: var(--text-base);
	line-height: 1.1;
	overflow-x: hidden;

	#nprogress .bar {
		height: 2px;
		background-color: var(--color-blue);
		z-index: 10000;

		@media (min-width: 1024px) {
			height: 2px;
		}
	}
}

button {
	cursor: pointer;
}

input {
	outline: none;
	border: none;
	box-shadow: none;
}

.bg-grid {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
}

.bg-grid > div {
	width: var(--spacing-base);
	height: 100%;
	background-color: var(--color-grid-bg);
}

.grid-item {
	background-color: var(--color-grid-bg);
}

/*
Lazy Load
*/

img[loading="lazy"] {
  opacity: 0;
  transition: opacity 0.2s;

  &.loaded {
    opacity: 1;
  }
}
